@import url(./reset.css);
@import url(./fonts.css);

html {
  font-family: 'et-book', serif;
  -webkit-font-smoothing: antialiased;
  background: #fffff8;
  color: #112;
}

#txt-wrapper {
  background: #fffff8;
  max-width: 640px;
  padding: 60px;
}

#txt {
  font-size: 20px;
  line-height: 28px;
  background: #fffff8;
  cursor: text;
}

#txt:focus {
  outline: none;
}

#txt:empty:before {
  content: attr(data-placeholder);
  color: #d4d4b9;
}
