@import url(./reset.css);
@import url(./fonts.css);

html {
  font-family: 'et-book', serif;
  -webkit-font-smoothing: antialiased;
  background: #fffff8;
}

body {
  margin: 40px auto;
  width: 600px;
}

#txt {
  font-size: 20px;
  line-height: 28px;
  background: #fffff8;
  padding: 20px;
  width: 100%;
}

#txt:focus {
  outline: none;
}
