@import url(./reset.css);

html {
  background: #fffff8;
}

body {
  margin: 40px auto;
  width: 600px;
}

#txt {
  font-size: 20px;
  background: #fffff8;
  padding: 20px;
  width: 100%;
}

#txt:focus {
  outline: none;
}
